
<div class="columns"></div>
<div class="columns"></div>

<div id="boat_services" class="my-5 d-flex">
  <div class="container">
    <div class="title mb-1">
      <h2>Please see from our selection of trucks around the world</h2>
      <p>Browse a new selection of trucks verified for quality & speed</p>
    </div>
    <div class="row">
    <% @trucks.each do |truck| %>
      <div class="col-md-4 car-box">
        <figure>
      <img src="<%= truck.image  %>" class="mb-2"alt="">
        <figcaption class="inside">
      </figcaption>
      <figcaption class="outside">
        <h2 class="text-white"><%= link_to truck.name , truck_path(truck)  %></span></h2>
        <p class="small text-color mb-0"> <%= truck.description %> </p>
        <p class="text-desc"> <%= truck.price %> </p>
        <%= link_to "Book", truck_path(truck), class: 'get-started-header' %>

      </figcaption>
    </figure>
      </div>
    <% end %>
    </div>

  </div>
  <div id="map"
       style="width: 100%; height: 600px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>


<!-- <section id="4col">
  <div class="container">
    <h2>Homes around the world</h2>
    <div class="row">
      <div class="col-md-3">
        <figure>
          <img src="https://a0.muscache.com/im/pictures/54335902/8572cc9d_original.jpg" class="w-100" alt="">
        </figure>
      </div>
    </div>
  </div>
</section> -->


