<h1>Trucks#new</h1>
<p>Find me in app/views/trucks/new.html.erb</p>
<h1>Create your truck</h1>
<p>Find me in app/views/trucks/edit.html.erb</p>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6  ">
      <h1>Create a truck</h1>

      <%= simple_form_for @truck do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :size %>
        <%= f.input :name %>
        <%= f.input :name %>
        <%= f.input :name %>
        <%= f.input :name %>
        <%= f.input :name %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :description %>
        <%= f.text_field :description %>
        <%= f.label :size %>
        <%= f.number_field :price %>
        <%= f.label :price %>
        <%= f.number_field :make %>
        <%= f.label :make %>
        <%= f.number_field :model %>
        <%= f.label :model %>
        <%= f.number_field :color %>
        <%= f.label :color %>
        <%= f.submit %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
