

<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://images.pexels.com/photos/5025669/pexels-photo-5025669.jpeg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title black_text_color"> <%= @truck.name %> </h5>
                <p class="card-text black_text_color"> <%= @truck.description %> </p>
            </div>
          </div>


          <%= simple_form_for([@truck, @booking]) do |f| %>
          <%= f.input :start_time, as: :date, html5: true  %>
          <%= f.input :end_time, as: :date, html5: true  %>
          <div style="width: 100%; text-align: right;">
            <%= f.submit class: 'btn btn-primary text-right' %>
          </div>
          <% end %>
            <div style="width: 100%; text-align: left;">
              <%= link_to "Go to back", trucks_path, class: 'btn btn-primary ml-auto d-inline-block' %>
            </div>

          <% flash.each do |type, msg| %>
              <div>
                <%= msg %>
              </div>
          <% end %>
    </div>
  </div>
</div>
